<h1 style="color:#62B5E5 ; font-size:45px; text-align:center; font-weight:bold;">
Hotel Booking Analysis 
</h1>

<div style="text-align:center;">
    <img src="best-online-hotel-booking-sites.jpg" width="10000">
</div>

<h1 style="color:#D3D3D3; font-size:25px; text-align:center; font-weight:bold;text-align:left;">
About Dataset â¬‡:
</h1>

<h1 style="color:#A0A0A0; font-size:20px; text-align:center; font-weight:bold; text-align:left;">
This dataset contains hotel booking information, including guest details, reservation dates, length of stay, cancellations, and pricing. It helps us understand booking patterns and analyze customer behavior in both city and resort hotels.

</h1>


<h1 style="color:#A0A0A0; font-size:20px; text-align:center; font-weight:bold; text-align:left;">
After cleaning and preparing the dataset, it becomes ready for visualizing relationships, identifying patterns, and generating meaningful insights.

</h1>
<hr style="border: 1px solid #62B5E5;">

<h1 style="color:#D3D3D3; font-size:25px; font-weight:bold; text-align:left;">
Let's Start to Prepare Our Data:
</h1>



<h1 style="color:#A0A0A0; font-size:18px; text-align:center; font-weight:bold; text-align:left;">



-> CLEANING



</h1>

<h1 style="color:#A0A0A0; font-size:18px; text-align:center; font-weight:bold; text-align:left;">

 1-Import Required Libraries

</h1>

In [93]:
#cspell:disable
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

<h1 style="color:#A0A0A0; font-size:18px; text-align:center; font-weight:bold; text-align:left;">

 2-Load Our Data

</h1>

In [94]:
#cspell:disable
data = pd.read_csv(r"C:\Users\omnia\Desktop\Data Analysis Microsoft\final project\hotel_bookings.csv")
print ("\nDisplay The first 10 rows :") 
data.head(10)

Display The first 10 rows :

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,3,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,4,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Direct,Direct,0,0,0,A,C,0,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Corporate,Corporate,0,0,0,A,A,0,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015,July,27,1,0,2,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015,July,27,1,0,2,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,0,No Deposit,NaN,NaN,0,Transient,107.0,0,0,Check-Out,2015-07-03
7,Resort Hotel,0,9,2015,July,27,1,0,2,2,0.0,0,FB,PRT,Direct,Direct,0,0,0,C,C,0,No Deposit,303.0,NaN,0,Transient,103.0,0,1,Check-Out,2015-07-03
8,Resort Hotel,1,85,2015,July,27,1,0,3,2,0.0,0,BB,PRT,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,240.0,NaN,0,Transient,82.0,0,1,Canceled,2015-05-06
9,Resort Hotel,1,75,2015,July,27,1,0,3,2,0.0,0,HB,PRT,Offline TA/TO,TA/TO,0,0,0,D,D,0,No Deposit,15.0,NaN,0,Transient,105.5,0,0,Canceled,2015-04-22

<h1 style="color:#A0A0A0; font-size:18px; text-align:center; font-weight:bold; text-align:left;">

 3-Some Information about our Data

</h1>

In [95]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

In [96]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
is_canceled,119390.0,0.370416,0.482918,0.00,0.00,0.000,1.0,1.0
lead_time,119390.0,104.011416,106.863097,0.00,18.00,69.000,160.0,737.0
arrival_date_year,119390.0,2016.156554,0.707476,2015.00,2016.00,2016.000,2017.0,2017.0
arrival_date_week_number,119390.0,27.165173,13.605138,1.00,16.00,28.000,38.0,53.0
arrival_date_day_of_month,119390.0,15.798241,8.780829,1.00,8.00,16.000,23.0,31.0
stays_in_weekend_nights,119390.0,0.927599,0.998613,0.00,0.00,1.000,2.0,19.0
stays_in_week_nights,119390.0,2.500302,1.908286,0.00,1.00,2.000,3.0,50.0
adults,119390.0,1.856403,0.579261,0.00,2.00,2.000,2.0,55.0
children,119386.0,0.103890,0.398561,0.00,0.00,0.000,0.0,10.0
babies,119390.0,0.007949,0.097436,0.00,0.00,0.000,0.0,10.0
is_repeated_guest,119390.0,0.031912,0.175767,0.00,0.00,0.000,0.0,1.0
previous_cancellations,119390.0,0.087118,0.844336,0.00,0.00,0.000,0.0,26.0
previous_bookings_not_canceled,119390.0,0.137097,1.497437,0.00,0.00,0.000,0.0,72.0
booking_changes,119390.0,0.221124,0.652306,0.00,0.00,0.000,0.0,21.0
agent,103050.0,86.693382,110.774548,1.00,9.00,14.000,229.0,535.0
company,6797.0,189.266735,131.655015,6.00,62.00,179.000,270.0,543.0
days_in_waiting_list,119390.0,2.321149,17.594721,0.00,0.00,0.000,0.0,391.0
adr,119390.0,101.831122,50.535790,-6.38,69.29,94.575,126.0,5400.0
required_car_parking_spaces,119390.0,0.062518,0.245291,0.00,0.00,0.000,0.0,8.0
total_of_special_requests,119390.0,0.571363,0.792798,0.00,0.00,0.000,1.0,5.0

<hr style="border: 1px solid #62B5E5;">
<h1 style="color:#A0A0A0; font-size:18px; text-align:center; font-weight:bold; text-align:left;">

 4-Checking & Understanding Our Data

</h1>

In [97]:

data.isnull().sum()

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

<h1 style="color:#A0A0A0; font-size:18px; text-align:center; font-weight:bold; text-align:left;">

 5-Checking & Understanding Our Data

</h1>

In [98]:
data = data.dropna(subset=['country'])

In [99]:
data = data.dropna(subset=['company'])

In [100]:
data = data.dropna(subset=['children'])

In [101]:
data['agent'] = data['agent'].fillna(0)

In [102]:
data.duplicated().sum()

np.int64(1531)

In [103]:
data = data.drop_duplicates()

In [104]:
data.dtypes

hotel                              object
is_canceled                         int64
lead_time                           int64
arrival_date_year                   int64
arrival_date_month                 object
arrival_date_week_number            int64
arrival_date_day_of_month           int64
stays_in_weekend_nights             int64
stays_in_week_nights                int64
adults                              int64
children                          float64
babies                              int64
meal                               object
country                            object
market_segment                     object
distribution_channel               object
is_repeated_guest                   int64
previous_cancellations              int64
previous_bookings_not_canceled      int64
reserved_room_type                 object
assigned_room_type                 object
booking_changes                     int64
deposit_type                       object
agent                             float64
company                           float64
days_in_waiting_list                int64
customer_type                      object
adr                               float64
required_car_parking_spaces         int64
total_of_special_requests           int64
reservation_status                 object
reservation_status_date            object
dtype: object

<hr style="border: 1px solid #62B5E5;">
<h1 style="color:#A0A0A0; font-size:18px; text-align:center; font-weight:bold; text-align:left;">

 6-Creating the Date column

</h1>

In [105]:
data['Date'] = pd.to_datetime(
                       data['arrival_date_year'].astype(str) + '-' +
                       data['arrival_date_month'].astype(str) + '-' +
                       data['arrival_date_day_of_month'].astype(str),
                       format='%Y-%B-%d'
)
data = data.drop(columns=['arrival_date_year', 'arrival_date_month', 'arrival_date_day_of_month'])

<h1 style="color:#A0A0A0; font-size:18px; text-align:center; font-weight:bold; text-align:left;">

 7-Converting Object columns to String

</h1>

In [106]:
data['hotel'] = data['hotel'].astype(str)
data['meal'] = data['meal'].astype(str)
data['country'] = data['country'].astype(str)
data['market_segment'] = data['market_segment'].astype(str)
data['distribution_channel'] = data['distribution_channel'].astype(str)
data['reserved_room_type'] = data['reserved_room_type'].astype(str)
data['reservation_status'] = data['reservation_status'].astype(str)
data['deposit_type'] = data['deposit_type'].astype(str)
data['assigned_room_type'] = data['assigned_room_type'].astype(str)
data['reservation_status_date'] = data['reservation_status_date'].astype(str)

<h1 style="color:#A0A0A0; font-size:18px; text-align:center; font-weight:bold; text-align:left;">

8- Finally Saving our Cleaning Data

</h1>
-> will using it in our dashboard latter.

In [107]:
data.to_csv("Cleaned data.csv" , index = False)